@font-face {
    font-family: dfds_bold;
    src: url(dfds-bold.ttf);
}

body {
    background-color: #eaedee;
    margin: 0em;
    min-width: 10em;
}

header {
    z-index: 3;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

header img:nth-child(1) {
    width: 50%;
    height: auto;
    margin: 1.5em;
    margin-top: 2em;
    display: inline-block;
    vertical-align: top;
    top: 0;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: none;
    color: #6d6f71;
    margin-top: 7%;
}

li {
    font-family: segoe ui;
    margin: auto;
    display: inline;
}

header img:nth-child(3) {
    width: 4em;
    margin: 1.5em 1em 1em 1em;
    height: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {
    margin-top: 9em;
    background-color: white;
    display: flex;
}

form {
    padding: 1em;
}

fieldset {
    border: none;
    padding: 1em;
}

fieldset:nth-child(1) legend:nth-child(1) {
    font-family: dfds_bold;
    font-size: 1.5em;
    color: #6e7477;
}

fieldset:nth-child(2) legend:nth-child(1) {
    margin: 0 auto;
    font-family: segoe ui;
}

legend {
    padding: 0;
}

label {
    font-family: segoe ui;
    font-size: 1.2em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
}

input[type="checkbox"] {
    margin: 1.5em;
    padding: 1em;
}

button {
    width: 100%;
    padding: 0.5em;
    color: white;
    background-color: #f6861f;
    border-color: #b86c26;
    font-family: dfds_bold;
    font-size: 1.3em;
    text-align: center;
    border-radius: 2px;
    border-width: 0.5px;
}

button:hover {
    background-color: #d96d09;
}

button:nth-child(2) {
    color: black;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

fieldset:nth-child(2) {
    border-top: 1px solid #f2f2f2;
}

form:nth-child(2) {
    display: none;
}

@media (min-width: 35em) and (max-width: 65em) {
    header img:nth-child(1) {
        width: 40%;
        height: auto;
    }
    ul {
        display: inline-block;
    }
    li {
        margin-right: 2.5em;
    }
    header img:nth-child(3) {
        display: none;
    }
    main {
        margin: 3em;
        margin-top: 11em;
    }
    li {
        margin-right: 2.5em;
        width: auto;
        height: auto
    }
    #show {
        z-index: 8;
        background: url(../images/zoek.gif);
        background-size: 5.5em;
        background-repeat: no-repeat;
    }
    #hide {
        visibility: hidden;
    }
    form:nth-child(2) {
        display: none;

    }
}

@media (min-width: 65em) {
    header img:nth-child(1) {
        width: 15%;
        height: auto;
    }
    ul {
        display: inline-block;
        margin-top: 3%;
        right: 0;
        margin-left: 40%;
    }
    li {
        margin: 2em;
    }
    #show {
        z-index: 8;
        background: url(../images/zoek.gif);
        background-size: 5.5em;
        background-repeat: no-repeat;
    }
    #hide {
        visibility: hidden;
    }
    header img:nth-child(3) {
        display: none;
    }
    main {
        margin: 3em;
        margin-top: 10em;
    }
    form:nth-child(1) {
        width: 50%;
    }
    fieldset:nth-child(1) {
        height: 50%;
    }
    fieldset:nth-child(2) {
        display: none;
    }
    form:nth-child(2) {
        width: 50%;
        display: flex;
        float: right;
    }


}
